#divConquistas{
  display: none;
}
#campoConquistas{
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}
.containerConquistas{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
  gap: 10px;
  border: 8px ridge rgb(70, 39, 13);
  width: 30%;
}

.containerConquistas h3{
  text-wrap: wrap;
}

.conquistaBloqueada{
  filter: brightness(0.7) grayscale(0.2);
  background-color: #dedede;
}