*{
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
}
button{
    cursor: pointer;
}

#tudoPraEsquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    min-width: 50vw;
    height: 100vh;
}
    .divCookieGrande{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        text-align: center;
    }
        #imagemCookie{
            clip-path: circle();
            transition: 0.4s;
            cursor: pointer;
        }
        #imagemCookie:hover{
            scale: 1.1;
        }

            #teste:focus, #teste:active{
                animation: clickCookie 0.3s ease-in-out;
            }
        li{
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgb(114, 58, 11);
        }
            li::marker{
                color: transparent;
            }
        li:nth-child(1){
            left: 20px;
            top: 14px;
        }
        li:nth-child(2){
            left: 68px;
            top: 42px;
        }
        li:nth-child(3){
            left: 12px;
            top: 23px;
        }
        li:nth-child(4){
            left: 40px;
            top: 45px;
        }
        li:nth-child(5){
            left: 55px;
            top: -10px;
        }

        table{
            font-size: 12px;
            border: 2px solid black;
            border-collapse: collapse;
        }
            .nomeUpgrade{
                width: 200px;
            }
            .qntUp{
                width: 60px;
            }
            .precoCompra{
                width: 200px;
            }

/* teste */


        th,tr, td{
            height: 50px;
            border: 1px solid black;
            text-align: center;
        }
        th{
            width: 33%;
            background-color:rgb(68, 42, 8);
            color: aliceblue;
        }
        .botaoCompraUpgrade{
            height: 100%;
            width: 100%;
            border-radius: 0px;
            border: 0;
            font-size: 1.5rem;
            background-color: rgb(226, 226, 226);
        }
            .botaoCompraUpgrade:hover{
                filter: brightness(0.8);
            }
            .botaoCompraUpgrade:active{
                animation: clickCompraUpgrade 200ms ease-in-out;
            }
            .botaoMudarNumUpgrade{
                filter: brightness(0.7);
            }
            .botaoAtivo{
                filter: brightness(1.1);
                background-color: darkgrey;
                color: aliceblue;
            }

        #precoUp1,
        #precoUp2,
        #precoUp3{
            background-color: rgba(70, 62, 59, 0.61);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

#tudoPraDireita{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50vw;
    overflow: hidden;
}
    .botaoInformacao{
        font-size: 2rem;
        padding: 5px;
        min-width: 300px;
    }

#divConfiguracoes,
#divEstatisticas{
    display: none;
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    z-index: 2;
    min-width: 50vw;
    min-height: 100vh;
    
}
    .botaoFecharDiv{
        font-size: 2rem;
        float: right;
    }

#popUpSalvar{display: none; user-select: none;}
#popUpSalvar img{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 75px;
    animation: salvarIcone 1s infinite ease-in-out;
    user-select: none;
    z-index: 10;
}




@media (width < 900px) {
    body{
        display: flex;
        flex-direction: column;
    }
    #tudoPraDireita{
        padding: 0;
    }
    #divConfiguracoes,
    #divEstatisticas{
        padding: 20px;
        width: calc(100vw - 20px - 4.5vw);
    }
}